@{
    bool esAdmin = User.IsInRole("A") ? true : false;
    bool esEntrenador = User.IsInRole("E") ? true : false;
    bool esCliente = User.IsInRole("C") ? true : false;
    FrontEnd.Models.UserViewModel u = (FrontEnd.Models.UserViewModel)Session["User"];
}
<!DOCTYPE html>
<html>
<head>
    <title>WeightLess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Public/css/css.css" rel="stylesheet" />
    <link href="~/Public/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Public/css/consejos.css" rel="stylesheet" />
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Custome JS -->
    <script src="~/frontend/Public/js/controlAlerts.js"></script>
    <script src="~/frontend/Public/js/Publications/publications.js"></script>
</head>
<body>

    <!-- NavBar -->
    <!-- #region -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-ColorWL d-flex">
        <a class="navbar-brand mr-auto" href="~/Home/Index">
            <img src="~/PUblic/images/icon.png" width="40" height="40" alt="">
        </a>

        <div class="d-flex ml-auto" id="navbarSupportedContent">
            <a href="@Url.Action("LogOut","Home")" class="btn btnWL ml-auto">
                Cerrar Sesión
            </a>
            <!--button class="btn btnWL ml-auto" type="submit">Cerrar Sesión</!-button-->
        </div>
    </nav>
    <!-- #endregion -->
    <!-- SlideBar -->
    <!-- #region -->
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary d-flex align-items-center justify-content-center" style="padding:0px;">
                    <span style="font-size: 1.2em;" class="iconify" data-icon="codicon:three-bars" data-inline="false"></span> 
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <a href="#">
                    <img style="cursor:pointer;" class="imgUser mb-4" src="~/Public/images/user.jpg">
                    @if (u != null) {
                        <label class="my-2 text-center w-100" style="cursor:pointer;color:white !important;">@u.name</label>
                    }
                </a>
                <ul class="list-unstyled components mb-5">
                    @if (esAdmin) {
                        <li><a href="~/User">Usuarios</a></li>
                        <li><a href="@Url.Action("ReportAssistance","Assistance")">Reporte de asistencia</a></li>
                    }
                    @if (esEntrenador) {
                        <li><a href="~/Publication/TrainerPublications">Consejos</a></li>
                        @*<li><a href="Machines.html">Actividades</a></li>*@
                        <li><a href="~/User/EditProfile">Editar perfil</a></li>

                    }
                    @if (esCliente) {
                        <li><a href="~/Assistance/UserAssistance">Mi Asistencia</a></li>
                        @*<li><a href="@Url.Action("CerrarSesion","Inicio")">Asistencia QR</a></li>*@
                        <li><a href="@Url.Action("Index","Publication")">Consejos</a></li>
                        <li><a href="@Url.Action("Index","Activity")">Actividades</a></li>
                    }
                </ul>
            </div>
        </nav>
        <!-- #endregion -->
        <!-- Contenido del SlideBar  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        (function ($) {

            "use strict";

            var fullHeight = function () {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        })(jQuery);
    </script>
    <style>
        .table td {
            vertical-align: middle !important;
        }
    </style>
</body>
</html>
