<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeightLess</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Public/css/css.css" rel="stylesheet" />
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>}
    <!-- Custome JS -->
    <script src="~/frontend/Public/js/controlAlerts.js"></script>
</head>
<body  data-spy="scroll" data-target="#nav-index" data-offset="0">
    <!-- NavBar -->
    <!-- #region -->
    <nav id="nav-index" class="navbar navbar-expand-lg navbar-dark bg-ColorWL fixed-top">
        <a class="navbar-brand" href="~/Home/Index">
            <img src="~/Public/images/icon.png" width="40" height="40" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#acerca">Acerca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
            <a class="btn btnWL" type="submit" onclick="myFunction()" href="#inicio">Iniciar sesion</a>
        </div>
    </nav>
    <!-- #endregion -->

    @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
