@model FrontEnd.Models.LogInViewModel

<!-- Login -->
<div class="container containerLogin" id="login">
    <form action="/Home/Login" method="post">
        <div class="form-group">
            <!--input type="email" class="form-control imp" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico"-->
            @Html.TextBoxFor(model => model.Correo, new { @class = "form-control imp", placeholder = "Correo", maxlength = 50, tabindex = 1 })
            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <!--input type="password" class="form-control imp" id="exampleInputPassword1" placeholder="Contraseña"-->
            @Html.PasswordFor(model => model.Clave, new { @class = "form-control imp", placeholder = "Contraseña", maxlength = 50, tabindex = 2 })
            @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(model => model.Recordarme, htmlAttributes: new { tabindex = 3 })
            @Html.LabelFor(model => model.Recordarme)
        </div>
        <button type="submit" class="btn btn-info">Iniciar Sesión</button>
    </form>
</div>


<div class="containerText1">
    <div class="d-flex justify-content-center">
        <h1 class="text1">Ofrecemos una gran cantidad de actividades</h1>
    </div>
</div>

<div class="containerText2">
    <div class="container">
        <div class="d-flex justify-content-center w-100">
            <p class="text2 mt-4 mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nisi totam nam eaque repellendus officia enim praesentium rem, error dolorem facilis? Quasi iste assumenda eaque porro soluta exercitationem tenetur non.</p>
        </div>
    </div>

    <div class="bloqueNegro">

    </div>
</div>


<div class="container containerThumbnail">

    <div class="row text-center text-lg-left">

        <div class="col-lg-4 col-md-4 col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample1.jpg" alt="">
                <figcaption class="figure-caption">Lorem ipsum</figcaption>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample2.jpg" alt="">
                <figcaption class="figure-caption">Lorem ipsum</figcaption>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-4">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample3.jpg" alt="">
                <figcaption class="figure-caption">Lorem ipsum</figcaption>
            </a>
        </div>

    </div>

</div>




<div class="footer">
    <div class="d-flex justify-content-end">
        <div class="text3">
            <h4 class="">Lorem ipsum dolor sit amet consectetur</h4>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nisi totam nam eaque repellendus officia enim praesentium rem</p>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var formDisp = document.getElementById("login").style.display;
        document.getElementById("login").style.display = (formDisp == "block") ? "none" : "block";
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}