@model FrontEnd.Models.LogInViewModel
<!-- Login -->
<div class="container containerLogin" id="login">
    <form action="/Home/Index" method="POST">
        <label></label>
        <div class="form-group">
            <!--input type="email" class="form-control imp" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico"-->
            @Html.TextBoxFor(model => model.Correo, new { @class = "form-control imp", placeholder = "Correo", maxlength = 50, tabindex = 1 })
            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <!--input type="password" class="form-control imp" id="exampleInputPassword1" placeholder="Contraseña"-->
            @Html.PasswordFor(model => model.Clave, new { @class = "form-control imp", placeholder = "Contraseña", maxlength = 50, tabindex = 2 })
            @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(model => model.Recordarme, htmlAttributes: new { tabindex = 3 })
            @Html.LabelFor(model => model.Recordarme)
        </div>
        <button type="submit" class="btn btn-info">Iniciar Sesión</button>
    </form>
</div>


<div class="containerText1" id="inicio">
    <div class="cont-tit-msg-index">
        <div class="cont-tit-msg-index-ch">
            <h5 class="title-page-name">Weight Less</h5>
            <h5 class="title-page-msg">Su mejor aliado para mantener un estilo de vida saludable</h5>
        </div>
    </div>
</div>

<div>

    <div class="bloqueNegro" id="acerca">
        <div class="d-flex justify-content-center w-100">
            <p class="text2 mt-5 mb-1">Cumplí tu metas junto a nosotros te ofrecemos una gran variedad de actividades donde podras llevar el control de tus actividades y asistencia asi como el proceso en cada una de tus sesiones de entrenamiento dentro del gimnasio</p>
        </div>
    </div>

    <div class="cont-imgs-thumbnail">
        <div class="cont-img-thumbnail">
            <div class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample1.jpg" alt="">
                <figcaption class="figure-caption text-center">Ejercicios Funcionales</figcaption>
            </div>
        </div>
        <div class="cont-img-thumbnail">
            <div class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample2.jpg" alt="">
                <figcaption class="figure-caption text-center">Entrenamientos Personalizados</figcaption>
            </div>
        </div>
        <div class="cont-img-thumbnail">
            <div class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail ThumbnailImg" src="~/Public/images/imgExample3.jpg" alt="">
                <figcaption class="figure-caption text-center">Rutinas de alta intesidad</figcaption>
            </div>
        </div>
    </div>

</div>



<div class="cont-qr-asistance p-4">
    <h2 class="text-center qr-asistance-title">Registra tu asistencia!</h2>


    @if (ViewBag.QRAsistance != null) {
        <div class="cont-img-qr-asistance pt-4">
            <img class="qr-asistance" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.QRAsistance))" />
        </div>
    }

</div>


<div class="footer" id="contacto">
    <div class="row w-100 pt-4 pb-5">
        <div class="col-md-6 py-4 px-5 d-flex my-3">
            <div class="cont-footer-info w-100 mx-auto mx-md-0">
                <h4 class="contact-footer-title">Contacto</h4>
                <hr class="divisor-footer-contact-title" />
                <div class="d-flex align-items-center mt-2">
                    <span class="iconify footer-contact-icon mr-2" data-icon="feather:phone-call" data-inline="false"></span>
                    <span class="footer-contact-text">+506 2222-2222</span>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <span class="iconify footer-contact-icon mr-2" data-icon="bytesize:mail" data-inline="false"></span>
                    <span class="footer-contact-text">weightless@hotmail.com</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-4 px-5 d-flex my-3">
            <div class="cont-footer-info w-100 mx-auto mx-md-0">
                <h4 class="contact-footer-title">Redes sociales</h4>
                <hr class="divisor-footer-contact-title" />
                <div class="d-flex align-items-center mt-2">
                    <span class="iconify footer-contact-icon footer-social-icon mr-4" data-icon="icomoon-free:facebook" data-inline="false"></span>
                    <span class="iconify footer-contact-icon footer-social-icon mr-4" data-icon="topcoat:twitter" data-inline="false"></span>
                    <span class="iconify footer-contact-icon footer-social-icon mr-4" data-icon="simple-icons:whatsapp" data-inline="false"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var formDisp = document.getElementById("login").style.display;
        document.getElementById("login").style.display = (formDisp == "block") ? "none" : "block";
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}