@model FrontEnd.Models.UserViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

        
}

<h2 class="mb-4">Más Información Usuario</h2>

<hr />

<div class="form-row">
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.dni)
        @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.name)
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.lastName)
        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.email)
        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.password)
        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.weight)
        @Html.EditorFor(model => model.weight, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.height)
        @Html.EditorFor(model => model.height, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.rol)
        @Html.EditorFor(model => model.rol, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label>@Model.active</label>
        @*@Html.LabelFor(model => model.active)
        @Html.EditorFor(model => model.active, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })*@
    </div>
</div>

<div class="d-flex">
    <div class="mr-2">
        <a href="~/User" class="btn btn-info">Ir atrás</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

