@model IEnumerable<FrontEnd.Models.PublicationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    int i = 1;
    FrontEnd.Models.PublicationViewModel firstPublication = null;
    int lengthModel = Model.Count();
    if (lengthModel > 0) {
        if (Model.First() != null) {
            firstPublication = Model.First();
        }
    }
}

@if (firstPublication != null) {
    <h2 class="mb-4 text-center bg-info p-2 text-light">Consejo del día!</h2>


    <div class="accordion mb-3">
        <div class="card">
            <div class="card-header header-publication" id="headingTwo">
                <button class="btn btn-link text-left p-0 collapsed btn-toggler-publication" type="button">
                    <span style="font-weight: 500;">@firstPublication.title -</span>
                    <span style="font-weight: 100;">@firstPublication.datetime</span>
                </button>
            </div>
            <div id="pb_@firstPublication.idPublication" class="cont-publication-body">
                <div class="card-body">
                    <p>@firstPublication.description</p>
                    <footer class="blockquote-footer">Creado por: @firstPublication.User.name @firstPublication.User.lastName</footer>
                    @if (firstPublication.type == "A") {
                        <h5 class="mt-4">Actividades</h5>
                        <hr>
                        foreach (var pa in firstPublication.publicationActivities) {
                            <div class="card mb-2">
                                <div class="card-header-pubActivity" id="heading4">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed toggler-pubActivity" type="button" data-toggle="collapse" data-target="#pbact_@i">
                                            @pa.name
                                        </button>
                                    </h2>
                                </div>
                                <div id="pbact_@i" class="collapse" aria-labelledby="heading4">
                                    <div class="card-body p-2">
                                        <p class="m-0">@pa.description</p>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    i++;
} else {
    <hr />
    <div class="alert alert-secondary mt-1">No se encontraron consejos!</div>
}



@if (ViewBag.empty == null && lengthModel > 1) {

    <div class="card mt-5" style="border: none;">

        <div class="bg-secondary" id="oldPb">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed toggler-pubActivity" type="button" data-toggle="collapse" data-target="#oldPublications">
                    <h2 class="text-center bg-secondary text-light m-0">Consejos anteriores</h2>
                </button>
            </h2>
        </div>

        <div id="oldPublications" class="collapse py-3" aria-labelledby="oldPb">

            @foreach (var publication in Model) {
                if (publication.idPublication != firstPublication.idPublication) {
                    <div class="accordion mb-3">
                        <div class="card">
                            <div class="card-header header-publication" id="headingTwo">
                                <button class="btn btn-link text-left p-0 collapsed btn-toggler-publication" type="button">
                                    <span style="font-weight: 500;">@publication.title -</span>
                                    <span style="font-weight: 100;">@publication.datetime</span>
                                </button>
                            </div>
                            <div id="pb_@publication.idPublication" class="cont-publication-body">
                                <div class="card-body">

                                    <p>@publication.description</p>
                                    <footer class="blockquote-footer">Creado por: @publication.User.name @publication.User.lastName</footer>

                                    @if (publication.type == "A") {
                                        <h5 class="mt-4">Actividades</h5>
                                        <hr>

                                        foreach (var pa in publication.publicationActivities) {
                                            <div class="card mb-2">
                                                <div class="card-header-pubActivity" id="heading4">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed toggler-pubActivity" type="button" data-toggle="collapse" data-target="#pbact_@i">
                                                            @pa.name
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="pbact_@i" class="collapse" aria-labelledby="heading4">
                                                    <div class="card-body p-2">
                                                        <p class="m-0">@pa.description</p>
                                                    </div>
                                                </div>
                                            </div>
                                            i++;
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }

        </div>
    </div>

} @*else {
        <hr />
        <div class="alert alert-secondary mt-1">No se encontraron consejos!</div>
    }*@
