@model IEnumerable<FrontEnd.Models.PublicationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    FrontEnd.Models.UserViewModel user = (FrontEnd.Models.UserViewModel)Session["User"];
}

<h2 class="mb-4">Consejos</h2>

<p>
    @*@Html.ActionLink("Create New", "Create", new { @class = "btn btn-successs" })*@
    <a href="@Url.Action("Create","Publication")" class="btn btn-success">Crear publicación</a>
</p>


@foreach (var publication in Model) {
    <div class="accordion mb-3">
        <div class="card">
            <div class="card-header header-publication" id="headingTwo">
                <button class="btn btn-link text-left p-0 collapsed btn-toggler-publication" type="button">
                    <span style="font-weight: 500;">@publication.title -</span>
                    <span style="font-weight: 100;">@publication.datetime</span>
                </button>
                <a href="@Url.Action("Delete","Publication",new { id = publication.idPublication })" class="btn-delete-publication btn">
                    <span class="iconify delete-icon" data-icon="bi:trash" data-inline="false"></span>
                </a>
            </div>
            <div id="pb_@publication.idPublication" class="cont-publication-body">
                <div class="card-body">

                    <p>@publication.description</p>
                    <footer class="blockquote-footer">Creado por: @user.name @user.lastName</footer>

                    @*@if (publication.type == "A") {*@
                    <h5 class="mt-4">Actividades</h5>
                    <hr>

                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse4">
                                    Bicicleta
                                </button>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    @*}*@

                </div>
            </div>
        </div>
    </div>
}


@if (TempData["successDelete"] != null) {
    <script>
        showDiagSuccess('@TempData["successDelete"]');
    </script>
}

@if (TempData["errorDelete"] != null) {
    <script>
        showDiagError('@TempData["errorDelete"]');
    </script>
}



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
                      <script type="text/javascript">
            function showDiagConfirm(idPublication) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'El consejo será eliminado!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Continuar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete","Publication")',
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            data: JSON.stringify({ id: idPublication }),
                            success: function () {
                                Swal.fire( //On Success
                                    'Eliminado!',
                                    'El consejo se ha eliminado con éxito',
                                    'success'
                                )
                            },
                            error: function (ex) {
                                showDiagError('Error al eliminar el consejo');
                            }
                            });

                            }
                       })
                }
                      </script>
    }*@
